body {
  margin: 0;
  padding: 0;
  background-color: #e1d6e6;
  overflow-x: hidden;
}



/*body*/
main {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
}

section {
  margin-left: 10.4rem;
  margin-top: 5.4rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.7rem;
}

.section-heading {
  color: #088ad3;
  font-family: "Recursive";
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.product-1 {
  display: flex;
  flex-direction: row;
  gap: 16rem;
}

.product-img {
  width: 27.7rem;
  height: 28.3rem;
}

.product-title {
  color: #000;
  text-align: center;
  font-family: Verdana;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
}

.product-2 {
  display: flex;
  flex-direction: column;
  gap: 0;
}


/* media query */
@media all and (max-width: 425px) {
  html {
    font-size: 11px;
  }
  @media all and (max-width: 375px) {
    html {
      font-size: 10px;
    }
  }
  /*body*/
main {
  gap: 0rem;
}
section {
  margin-left: 3rem;
  margin-top: 3rem;
  gap: 1.5rem;
}
.section-heading{
  font-size: 0.8rem;
}
.product-img{
  width: 8.3rem;
  height: 8.5rem;
}
.product {
  gap: 3rem;
}
.product-title{
  font-size: 0.9rem; 
}
.product-1 {
  gap: 1.5rem;
}
  /*footer*/
  footer {
    margin-top: 3.26rem;
    width: 37.5rem;
    height: 7.4rem;
    gap: 3.1rem;
  }
  .footer-container {
    margin-left: 2.6rem;
    width: 10.5rem;
    height: 4.53rem;
  }
  footer div {
    gap: 0.84rem;
  }
  .footer-logo {
    font-size: 1.33rem;
    height: 10.5rem;
    width: 10.5rem;
  }
  .icons-div {
    gap: 0.8rem;
  }
  .icons {
    width: 1.68rem;
    height: 1.68rem;
  }
  .copyright{
    font-size: 0.98rem;
    width: 17.2rem;
    height: 2.4rem;
  }
}
